@define-color black #000000;
@define-color grey #1A1B26;
@define-color blue #1A1B35;

@define-color highlight-pink #ff4499;
@define-color highlight-green #00ffd2;

@define-color rosewater #f5e0dc;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
}

hyprland-window {
  border: 2px solid @highlight-pink;
  border-radius: 5px;
}




